<% content_for :content do %>
  <h1>Отправка инструкции для подтверждения учетной записи</h1>

  <%= render :partial => 'flash', :locals => { :flash => flash } %>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <%= f.input :email, required: true, autofocus: true %>

    <div class='actions'>
      <%= f.button :submit, 'Отправить инструкцию' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
