<% content_for :content do %>

  <%= render_partial_for_region(@content_first) %>

  <div class="child_filters">
    <%= simple_form_for :search, :method => :get do |f| %>
      <%= f.input :number %>
      <%= f.input :age, :as => :range, :collection => 0..18, :required => false %>
      <%= f.input :sex, :as => :select, :collection => ["Не важно", "Мужской", "Женский"], :include_blank => false, :required => false %>
      <%= f.input :relative_numbers, :as => :select, :include_blank => false, :required => false %>
      <%= f.input :living_arrangement, :as => :check_boxes %>
      <%= f.submit %>
    <% end %>
  </div>

  <% if @children.any? %>
    <ul class='children_list'>
      <% @children.each do |child| %>
        <li class='<%= cycle('odd', 'even') %>'>
          <div class='image'>
            <%= link_to child_path(:number => child.number) do %>
              <%= image_tag child.photo_url.gsub(/\/\d+-\d+\//, '/150-200!/'), :alt => child.name %>
            <% end %>
          </div>
          <div class='information'>
            <div class='name_and_number'>
              <%= link_to child.name, child_path(:number => child.number), :class => 'name' %>
              <%= content_tag :span, "(#{child.number})", :class => 'number' %>
            </div>
            <div class='published_on'>
              Дата размещения информации:
              <%= l child.published_on %>
            </div>
            <div class='birth'>
              <%= child.sex == 'male' ? 'Родился в' : 'Родилась в' %>
              <%= t('date.common_month_names')[child.born_on.month].gsub(/я$/, 'е') %>
              <%= child.born_on.year %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate @children %>
  <% end %>

<% end %>
