<%= form_tag children_path, :method => :get do %>
  <%= label_tag :number, 'Номер' %>
  <%= text_field_tag :number, params[:number] %>
  <%= submit_tag 'Поиск' %>
<% end %>

<ul>
  <% @children.each do |child| %>
    <li>
      <%= link_to child.name, child %>
    </li>
  <% end %>
</ul>
<%= link_to 'Добавить данные о ребенке', new_child_path %>
