<% content_for :content do %>

  <%= render_partial_for_region(@content_first) %>

  <div class="child_filters">
    <%= simple_form_for :search, :method => :get, :html => { :novalidate => true } do |f| %>
      <%= f.input :number, :placeholder => 'Поиск по номеру дела' %>
      <%= f.input :age_min, :as => :integer %>
      <%= f.input :age_max, :as => :integer %>
      <%= f.input :sex, :as => :select, :collection => Child.sex.options, :include_blank => 'не важно' %>
      <%= f.input :relative_count, :as => :select, :collection => Child.relative_counts_options, :include_blank => 'не важно' %>
      <%= f.input :living_arrangements, :as => :check_boxes, :collection => Child.living_arrangement.options %>
      <%= f.submit "Выбрать" %>
    <% end %>
  </div>

  <% if @children.any? %>
    <ul class='children_list'>
      <% @children.each do |child| %>
        <li class='<%= cycle('odd', 'even', :name => 'child_class') %>'>
          <div class='image'>
            <%= link_to child_path(:number => child.number) do %>
              <%= image_tag child.photo_url.gsub(/\/\d+-\d+\//, '/150-200!/'), :size => '150x200', :alt => child.name %>
            <% end %>
          </div>
          <div class='information'>
            <div class='name_and_number'>
              <%= link_to child.name, child_path(:number => child.number), :class => 'name' %>
              <%= content_tag :span, "(#{child.number})", :class => 'number' %>
            </div>
            <div class='published_on'>Дата размещения информации: <%= l child.published_on %></div>
            <div class='birth'>
              <%= child.sex == 'male' ? 'Родился в' : 'Родилась в' %>
              <%= t('date.common_month_names')[child.born_on.month].gsub(/я$/, 'е') %>
              <%= child.born_on.year %>
            </div>
            <div class='phisiology'>
              <%= child.eyes_color_text.mb_chars.capitalize %>
              цвет глаз,
              <%= child.hair_color_text.mb_chars %>
              цвет волос
            </div>
            <div class="living_arrangement">
              <p><strong>Форма жизнеустройства ребёнка:</strong></p>
              <p><%= child.living_arrangement.map(&:text).join(', ') %></p>
            </div>
            <% %w[brothers sisters].each do |relative| %>
              <% if child.send(relative).any? %>
                <div class='relatives'>
                  <p class='relatives_title'><strong><%= t("child_presence.#{relative}", :count => child.send(relative).count) %>:</strong></p>
                  <ul class='list'>
                    <% child.send(relative).each do |rel| %>
                      <li class='<%= cycle('first', 'second', 'third', :name => 'relative_class') %>'>
                        <div class="relative_image">
                          <%= link_to child_path(:number => rel.number) do %>
                            <%= image_tag rel.photo_url.gsub(/\/\d+-\d+\//, '/28-37!/'), :size => '28x37', :alt => rel.name %>
                          <% end %>
                        </div>
                        <div class='relative_information'>
                          <p class='name'p><%= link_to rel.name, child_path(:number => rel.number) %></p>
                          <p class='number'>(<%= rel.number %>)</p>
                        </div>
                      </li>
                    <% end %>
                    <% reset_cycle('relative_class') %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= paginate @children %>
  <% end %>

<% end %>
