<%= image_tag @child.photo_url if @child.photo_url %>

<p>
  Дата помещения в банк:
  <%= l @child.published_on %>
</p>

<p>
  Имя:
  <%= @child.name %>
</p>

<p>
  Дата рождения:
  <%= l(@child.born_on, format: '%b %Y') %>
</p>

<p>
  Цвет глаз:
  <%= @child.eyes_color %>
</p>

<p>
  Цвет волос:
  <%= @child.hair_color %>
</p>

<p>
  Пол:
  <%= @child.sex_text %>
</p>

<p>
  Номер:
  <%= @child.number %>
</p>

<p>
  Братья:
  <ul>
    <% @child.brothers.each do |brother| %>
      <li><%= link_to brother.name, child_path(brother) %></li>
    <% end %>
  </ul>

  Сестры:
  <ul>
    <% @child.sisters.each do |sister| %>
      <li><%= link_to sister.name, child_path(sister) %></li>
    <% end %>
  </ul>
</p>

<p>
  Форма жизнеустройства:
  <%= @child.living_arrangement_text %>
</p>

<%= link_to 'Править', edit_child_path(@child) %>
<%= link_to 'Удалить', @child, :confirm => 'Вы уверены?', :method => :delete %>
<%= link_to 'К списку', children_path %>
