<% content_for :extend_javascripts do %>
<% end %>

<%= content_for :actual do %>
  <%= render :partial => 'regions/actual' if @actual %>
<% end %>

<% content_for :content do %>
  <ul class='local_banners'>
    <li class='adv_regional_bank'><a href='/ru/children/'>Региональный банк данных детей-сирот</a></li>
    <li class='adv_camps'><a target='_blank' href='http://camps.tom.ru/'>Детский отдых в Томской области</a></li>
    <li class='adv_help'><a class='invalid_link' href='/'>Окажите помощь детям</a></li>
  </ul>
  <%= render_partial_for_region(@news) if @news %>
<% end %>

<% content_for :map_region do %>
  <%= raw @map_region.content.body if @map_region %>
<% end %>

<%= render :template => 'layouts/application' %>
