<div class="child_form">
  <%= simple_form_for [:manage, @child], :html => {:novalidate => true} do |f| %>
    <%= f.input :number %>
    <%= f.input :name %>
    <%= f.input :sex, :as => :radio_buttons %>
    <%= f.input :birth_year,
      :collection => Date.today.year.downto(Date.today.year - 20),
      :selected => @child.born_on.try(:year),
      :prompt => 'Год рождения' %>

    <%= f.input :birth_month,
      :collection => t("date.month_names").compact.each_with_index.map { |name, number| ["#{number + 1} (#{name})", number + 1] },
      :selected => @child.born_on.try(:month),
      :prompt => 'Месяц рождения' %>
    <%= f.input :living_arrangement, :as => :check_boxes %>
    <%= f.input :hair_color %>
    <%= f.input :eyes_color %>
    <%= f.input :relative_numbers_string, :input_html => { :value => @child.relative_numbers.try(:join, ' ') }, :hint => 'Номера дел братьев и сестер, разделенные пробелами.' %>
    <%= f.input :photo %>
    <% if @child.persisted? %>
      <div class='photo_wrapper'>
        <%= link_to @child.photo_url, :class => :colorbox do %>
          <%= image_tag @child.photo_url.gsub(/\/\d+-\d+\//, '/200-250!n/'), :size => '200x250', :alt => @child.name %>
        <% end %>
      </div>
    <% end %>

    <div class="submit">
      <%= f.submit 'Сохранить' %>
      <%= link_to "Отмена", smart_resource_url %>
    </div>
  <% end %>
</div>
