<div class="breadcrumbs">
  <ul>
    <li>
      <%= link_to "назад к списку", collection_path %>
    </li>
    <li>
      <%= @child.name %>
    </li>
  </ul>
</div>
<div class="show_child">
  <div class="show_child_wrapper">
    <div class="photo">
      <%= image_tag @child.photo_url.gsub(/\/\d+-\d+\//, '/150-200!/'), :alt => @child.name, :title => @child.name, :size => '150x200' %>
    </div>
    <div class="info">
      <div class="action_links">
        <%= link_to "Редактировать", edit_resource_path(@child), :class => 'edit', :title => 'Редактировать' %>
        <%= link_to "Удалить", resource_path(@child), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete', :title => 'Удалить' %>
      </div>
      <div class="bold name_and_number">
        <%= @child.name %>
        <span>(<%= @child.number %>)</span>
      </div>

      <div class="published_on">
        Дата помещения в банк: <%= l @child.published_on, :format => "%d %B %Y" %>
      </div>

      <div class='bold'>
        Дата рождения: <%= l @child.born_on, :format => "%B %Y" %>
      </div>
      <div>
        Цвет глаз &mdash; <%= @child.eyes_color_text %>, цвет волос &mdash; <%= @child.hair_color_text %>
      </div>
      <div class='bold'>
        Форма жизнеустройства:
      </div>
      <div>
        <%= @child.living_arrangement.map(&:text).join(', ') %>
      </div>
    </div>
  </div>
  <div class="relativities">
    <% if @child.brothers.any? %>
      <div class='brothers'>
        <div class='bold'>Братья:</div>
        <ul>
          <% @child.brothers.each do |relative| %>
            <li>
              <div class="photo">
                <%= link_to relative do %>
                  <%= image_tag relative.photo_url.gsub(/\/\d+-\d+\//, '/74-98!/'), :alt => relative.name, :title => relative.name, :size => '74x98' %>
                <% end %>
              </div>
              <div class="info">
                <%= link_to relative.name, relative %>
                <span>(<%= relative.number %>)</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @child.sisters.any? %>
      <div>
        <div class='bold'>Сестры:</div>
        <ul>
          <% @child.sisters.each do |relative| %>
            <li>
              <div class="photo">
                <%= link_to relative do %>
                  <%= image_tag relative.photo_url.gsub(/\/\d+-\d+\//, '/74-98!/'), :alt => relative.name, :title => relative.name, :size => '74x98' %>
                <% end %>
              </div>
              <div class="info">
                <%= link_to relative.name, relative %>
                <span>(<%= relative.number %>)</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
