<%= content_for :content do %>

    <%= @content_first.content.body %>

    <div class='request'>
      <div class='message'>
        <%= flash[:notice] %>
      </div>

      <%= simple_form_for @request do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :message %>
        <div class='submit'>
          <%= f.submit "Отправить" %>
        </div>
      <% end %>

    </div>
  <% end %>
