<ul class='subdivisions need_collapser'>
  <% object.subdivisions.each do |item| %>
    <li>
      <% if item.path %>
        <%= link_to item.title, item.path if item.path %>
      <% else %>
        <h3><%= item.title %></h3>

        <div class="subdivision_information">
          <% if item.dossier.try(:present?) %>
            <div class="sub_info_wrapper">
              <%= link_to "Информация о подразделении", '#', :class => 'sub_info_link' %>
              <div class="sub_info">
                <%= item.dossier.html_safe %>
              </div>
            </div>
          <% end %>
          <div class="contacts">
            <span class='address'><%= item.address %></span>
            <span class='phones'><%= item.phones %></span>
            <span class='emails'>
              <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
            </span>
            <span class='site'>
              <%= link_to item.url, item.url if item.url? %>
            </span>
          </div>

          <% if item.items %>
            <% chief = item.items.shift %>
            <div class="subdivision_chief">
              <% if chief.link %>
                <%= link_to chief.person, chief.link, :class => 'fio' %>
              <% else %>
                <span class="fio"><%= chief.person %></span>
              <% end %>
              <span class='title'><%= chief.title %></span>
              <span class='phones'><%= chief.phones %></span>
              <span class='emails'>
                <%= chief.emails.map{|email| mail_to(email)}.join(', ').html_safe if chief.emails %>
              </span>
              <span class="address"><%= chief.address %></span>
            </div>
            <% if item.items.any? %>
              <h4><a href="#" class='slider'>Сотрудники</a></h4>
              <ul class='employees collapse_item'>
                <% item.items.each do |item| %>
                  <li>
                    <% if item.link %>
                      <%= link_to item.person, item.link, :class => 'fio' %>
                    <% else %>
                      <span class="fio"><%= item.person %></span>
                    <% end %>
                    <span class='title'><%= item.title %></span>
                    <span class='phones'><%= item.phones %></span>
                    <span class='emails'>
                      <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
                    </span>
                    <span class="address"><%= item.address %></span>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
          <% if item.subdivisions %>
            <ul>
              <% item.subdivisions.each do |subdivision| %>
                <li>
                  <h4><%= subdivision.title %></h4>
                  <% if item.items %>
                    <h4><a href="#" class='slider'>Сотрудники</a></h4>
                    <ul class='employees collapse_item'>
                      <% subdivision.items.each do |item| %>
                        <li>
                          <% if item.link %>
                            <%= link_to item.person, item.link, :class => 'fio' %>
                          <% else %>
                            <span class="fio"><%= item.person %></span>
                          <% end %>
                          <span class='title'><%= item.title %></span>
                          <span class='phones'><%= item.phones %></span>
                          <span class='emails'>
                            <%= item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails %>
                          </span>
                          <span class="address"><%= item.address %></span>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    </li>
  <% end if object.subdivisions %>
</ul>

