<h2>Информация о лицензиях</h2>
<% if @social_provider.licenses.any? %>
  <table>
    <thead>
      <tr>
        <th>Серия</th>
        <th>Номер</th>
        <th>Вид деятельности</th>
        <th>Выдавшая организация</th>
        <th>Дата выдачи</th>
        <th>Срок действия</th>
      </tr>
    </thead>
    <tbody>
      <% @social_provider.licenses.each do |license| %>
        <tr>
          <td><%= license.seria %></td>
          <td><%= license.number %></td>
          <td><%= license.activity_kind %></td>
          <td><%= license.issuing_organization %></td>
          <td><%= I18n.l(license.issue_date) %></td>
          <td><%= I18n.l(license.expiration_date) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Нет информации</p>
<% end %>
