<%= simple_nested_form_for [:my, @social_provider] do |f| %>
  <%= f.input :title %>
  <%= f.input :short_title %>
  <%= f.input :register_date %>
  <%= f.input :incorporation_form %>
  <%= f.input :address %>
  <div>
    <%= f.simple_fields_for :phones %>
    <%= f.link_to_add 'Добавить телефон', :phones %>
  </div>
  <div>
    <%= f.simple_fields_for :emails %>
    <%= f.link_to_add 'Добавить адрес электронной почты', :emails %>
  </div>
  <%= f.input :chief_fio %>
  <%= f.input :terms_of_service %>
  <%= f.input :audits %>
  <%= f.input :work_experience %>
  <%= f.input :additional_info %>

  <div>
    <h2>Информация о лицензиях</h2>
    <%= f.simple_fields_for :licenses %>
    <%= f.link_to_add 'Добавить информацию о лицензии', :licenses %>
  </div>
  <div>
    <h2>Формы социального обслуживания</h2>
    <%= f.simple_fields_for :social_forms %>
    <%= f.link_to_add 'Добавить форму социального обслуживания', :social_forms %>
  </div>
  <div>
    <h2>Социальные услуги</h2>
    <%= f.simple_fields_for :social_services %>
    <%= f.link_to_add 'Добавить социальную услугу', :social_services %>
  </div>

  <%= f.submit 'Сохранить', :class => 'button' %>
<% end %>
<%= link_to 'Отмена', my_social_providers_path, :class => 'button' %>
