<h2>Информация о лицензиях</h2>
<table>
  <thead>
    <tr>
      <td>Серия</td>
      <td>Номер</td>
      <td>Вид деятельности</td>
      <td>Выдавшая организация</td>
      <td>Дата выдачи</td>
      <td>Срок действия</td>
    </tr>
  </thead>
  <tbody>
    <% @social_provider.licenses.each do |license| %>
      <tr>
        <td><%= license.seria %></td>
        <td><%= license.number %></td>
        <td><%= license.activity_kind %></td>
        <td><%= license.issuing_organization %></td>
        <td><%= I18n.l(license.issue_date) %></td>
        <td><%= I18n.l(license.expiration_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
