<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name='yandex-verification' content='79273af379cd587f' />
  <%= favicon_link_tag %>
  <title><%= raw @page_title %> — <%= strip_tags(@site_name.content.body) %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:extend_javascripts) %>

  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <![endif]-->

  <%= csrf_meta_tags %>
  <% if entry_date %>
    <meta name="entry_date" content="<%= entry_date %>">
  <% end %>
</head>
<body>
  <div class="top">
    <div class="inner">
      <a class='tgr' target="_blank" href="http://tomsk.gov.ru/"><%= I18n.t('tomsk_gov_ru') %></a>
      <a href="/ru/sitemap/" class='sitemap'><%= I18n.t('sitemap') %></a>
      <span class='helpline'><%= I18n.t('helpline') %></a>
    </div>
  </div>

  <div class="header">
    <div class="inner">
      <%= render "regions/additional_#{@main_bottom_navigation.type.underscore}", :object => @main_bottom_navigation.content if @main_bottom_navigation %>
      <div class="logo">
        <%= link_to I18n.t('department_name'), '/', :title => I18n.t('department_name') %>
      </div>
      <div class="site_title">
        <a href='/' title='<%= I18n.t('department_name') %>'><%= I18n.t('department_name') %></a>
      </div>
      <div class="search_block invalid_link">
        <form action="/ru/search/">
          <ul class='inputs'>
            <li>
              <input type="text" name='parts_params[search][q]' value='<%= params[:parts_params].present? && params[:parts_params][:search].present? ? params[:parts_params][:search][:q] : nil %>' />
            </li>
          </ul>
          <ul class='buttons'>
            <li>
              <input type="submit" value="<%= I18n.t('search') %>" />
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  <%= render "regions/main_#{@main_navigation.type.underscore}", :object => @main_navigation.content if @main_navigation %>

  <%= render "regions/submenu_#{@main_navigation.type.underscore}", :object => @main_navigation.content if @main_navigation %>

  <%= render "regions/main_subnavigation_part", :object => @main_subnavigation.content if @main_subnavigation %>

  <%= render "regions/#{@breadcrumbs.type.underscore}", :object => @breadcrumbs.content if @breadcrumbs %>

  <%= yield(:actual) %>

  <div class="content index">
    <div class="inner">
      <% if content_for?(:custom_page_title) %>
        <%= yield(:custom_page_title) %>
      <% else %>
        <% if @content_first %>
          <% if @content_first.part_title.present? %>
            <%= content_tag :h1 do %>
              <%= @content_first.part_title %>
              <%= yield(:item_title) %>
            <% end %>
          <% else %>
            <%= content_tag :h1, @page_title %>
          <% end %>
        <% end %>
      <% end %>

      <%= yield(:content) %>

      <%= yield(:map_region) %>

      <%= render_partial_for_region(@gallery) %>

      <%= yield(:gallery_region) %>
    </div>
  </div>

  <% if @banners %>
    <%= render("regions/#{@banners.type.underscore}", :object => @banners.content) %>
  <% end %>

  <%= render "regions/bottom_#{@secondary_navigation.type.underscore}", :object => @secondary_navigation.content if @secondary_navigation %>

  <div class="footer">
    <div class="inner">
      <div class="copyrights">
        <ul>
          <li><%= I18n.t('development') %>: <a href="http://openteam.ru">OpenTeam</a></li>
        </ul>
      </div>
      <div class="contacts">
        <h5><%= I18n.t('contacts') %></h5>
        <p><%= I18n.t('department_name') %></p>
        <p><%= I18n.t('address') %></p>
        <p><%= I18n.t('phones') %></p>
        <p><a href='mailto:dsmd@family.tomsk.gov.ru'>dsmd@family.tomsk.gov.ru</a></p>
      </div>
    </div>
  </div>

  <!-- host: <%= request.host %> -->

  <% if Rails.env.production? %>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (d, w, c) {
       (w[c] = w[c] || []).push(function() {
         try {
         w.yaCounter19937860 = new Ya.Metrika({id:19937860,
           webvisor:true,
           clickmap:true,
           trackLinks:true,
           accurateTrackBounce:true});
         } catch(e) { }
         });

       var n = d.getElementsByTagName("script")[0],
       s = d.createElement("script"),
       f = function () { n.parentNode.insertBefore(s, n); };
       s.type = "text/javascript";
       s.async = true;
       s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

       if (w.opera == "[object Opera]") {
       d.addEventListener("DOMContentLoaded", f, false);
       } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/19937860" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  <% end %>

</body>
</html>
