<div class="breadcrumbs">
  <ul>
    <li>
      <%= link_to "назад к списку", collection_path %>
    </li>
    <li>
      <%= @contest_work.name %>
    </li>
  </ul>
</div>
<div class="show_child">
  <div class="show_child_wrapper">
    <div class="photo">
      <%= image_tag @contest_work.photo_url.gsub(/\/\d+-\d+\//, '/150-200!/'), :alt => @contest_work.name, :size => '150x200' %>
    </div>
    <div class="info">
      <div class="action_links">
        <%= link_to "Редактировать", edit_resource_path(@contest_work), :class => 'edit', :title => 'Редактировать' %>
        <%= link_to "Удалить", resource_path(@contest_work), :method => :delete, :confirm => 'Вы уверены?', :class => 'delete', :title => 'Удалить' %>
      </div>
      <div class="bold">
        <%= @contest_work.name %>
      </div>

      <div>
        Возраст: <%= t 'child.age', :count => @contest_work.age %>
      </div>
      <div>
        <p>Описание:</p>
        <%= simple_format @contest_work.description %>
      </div>
      <div>
        <p>Рисунок</p>
        <%= image_tag @contest_work.work_url %>
      </div>
    </div>
  </div>
</div>
