<% content_for :content do %>
  <h1>Зарегистрироваться как поставщик социальных услуг</h1>

  <%= render :partial => 'flash' %>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>

    <%= f.button :submit, 'Зарегистрироваться' %>
  <% end %>

  <%= render 'users/shared/links' %>
<% end %>
